.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px;
}

.noElements {
  height: 100%;
  color: var(--inactive-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.topSide {
  min-height: calc(62vh - 52px);
  max-height: calc(65.6vh - 52px);
}

.bottomSide {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.price {
  display: flex;
  align-items: center;
  gap: 9.5px;
}

.buns {
  display: flex;
  justify-content: flex-end;
}

.fillings {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right: 8px;
  max-height: calc(100% - 200px);
}
